body {
    font-family: ' Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background: linear-gradient(90deg,  #15e89b,#74eec7, #74eec7, #15e89b);
    color: #0d0c0c;
    text-align: center;
    padding: 40px 0;
}
.developer-image {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 2.5em;
}

p {
    font-size: 1.2em;
}

section {
    padding: 40px 0;
    text-align: center;
}

h2 {
    text-align: center;
    color: #333;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #555;
}

#projects {
    background: linear-gradient(90deg, #2980b9, #3498db);
}

.project-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.project-thumbnail {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
}

.project-details {
    flex: 1;
}

.project-details h3 {
    font-size: 1.5em;
    color: #fff;
}
.linkedin-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #0077b5;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.linkedin-btn:hover {
    background-color: #005885;
}
#contact {
    background: linear-gradient(90deg, #43d5df,#02f4eb, #02f4eb,  #43d5df);
    color: #fff;
}

.contact-form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #090909;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}